<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .pic{
            height: 250px;
        }
    </style>
</head>
<body>
    <h1>Profile</h1>
{%if user.img%}
    <img class="pic" src="{{user.img.url}}" alt="Profile Pic"><br>
    {%endif%}
    {{user.name}}<br>
    {{user.email}}<br>
    {{user.graduation_year}}<br>
    {{user.course_name}}<br>
    {{user.GR_number}}<br>
    <a href="edit_profile">Update Profile</a><br>
    <a href="logout">Logout</a>
</body>
</html>